{% load crispr_extras %}

<form action="{% url 'blast' %}" id="blast-search" method="POST">
  <fieldset>
    {% csrf_token %}
    <legend class="head">BLAST search</legend>
    <p>Search against the databases of contigs with cassettes, repeats or spacers</p>
    <ul class="text-error">
      {{ blast_form.non_field_errors }}
    </ul>
    {% for field in blast_form %}
      <span class="control-group {% if field.errors %}error{% endif %}">
	{% set_this_field_type field %}
	{% if not this_field_type = "BooleanField" %}
	  {{ field.label_tag }}
	  {{ field }}
	{% else %}
	  <label class="checkbox" for="{{ field.id_for_label }}">
            {{ field }}
            {{ field.label }}
	  </label>
	{% endif %}
      </span>
      {% if field.errors %}
	<span class="help-inline">
	  <ul class="text-error">{{ field.errors }}
	  </ul>
	</span>
      {% endif %}
      {% if field.help_text %}
	<span class="help-block">
	  {{ field.help_text }}<br>
	</span>
      {% endif %}
    {% endfor %}
    <label></label>
    <button type="submit" class="btn btn-primary">BLAST</button>
  </fieldset>
</form>
