{% extends "base.html" %}

{% block title %}
  {% if blast.status = blast.COMPLETE %}
    BLAST result
  {% else %}
    {{ blast.get_status_display }} - BLAST result
  {% endif %}
{% endblock %}

{% block head %}
  {% if blast.status == blast.QUEUE or blast.status == blast.RUNNING %}
    <meta http-equiv="refresh" content="30">
  {% endif %}
{% endblock %}

{% block content %}
  <div class="span12">
    <h2>BLAST result</h2>
    <ul class="unstyled">
      <li>
	{% if blast.status == blast.QUEUE %}
	  <span class="label">In queue</span>
	{% elif blast.status == blast.RUNNING %}
	  <span class="label">Running</span>
	{% elif blast.status == blast.FAILED %}
	  <span class="label label-important">Failed</span>
	{% elif blast.status == blast.COMPLETE %}
	  <span class="label label-success">Complete</span>
	{% endif %}
      <li>Created: {{ blast.created|timesince }} ago, {{ blast.created}}
      <li>This page will expire on {{ expire }}
      <li>Query: <pre>{{ blast.query }}</pre>
    </ul>
    {% if blast.truncated %}
      <div class="alert alert-warning">
	Warning: Too many hits, only some are shown.
      </div>
    {% endif %}
    {% if blast.status == blast.COMPLETE and not hits %}
      <h3>No BLAST hits found.</h3>
    {% endif %}
    {% if blast.status == blast.COMPLETE %}
      <table class="table">
	{% for hit in hits %}
	  {% ifchanged hit.query_id %}
	    <tr><th colspan="2">
	      <h4>{{ hit.query_id }}</h4>
	    </th></tr>
	  {% endifchanged %}
	  {% ifchanged hit.subject_id %}
	    <tr>
	      <td>
		{% if blast.database == blast.CONTIGS %}
		<a href="{% url 'contig' hit.subject_id %}">{{ hit.subject_id }}</a>
	      {% else %}
		{{ hit.subject_id }}
	      {% endif %}
	      <br/>
		Length: {{ hit.subject_length }}
	      <td>E-value: {{ hit.evalue }}
	    </tr>
	    {% if blast.database == blast.CONTIGS %}
	      <tr>
		<td colspan="2">
		  <embed src="{% url 'contig_image' hit.subject_id %}?blast_id={{ blast.id }}&amp;query_id={{ hit.query_id }}" type="image/svg+xml" />
		</td>
	      </tr>
	    {% endif %}
	  {% endifchanged %}
	  <tr class="notop">
	    <td colspan="2">
	      Score = {{ hit.bit_score }} bits ({{ hit.score}}), Expect = {{ hit.evalue }}<br/>
	      Identities = {{ hit.identity_count }}/{{ hit.alignment_length }} ({{ hit.percent_identity }}%)<br/>
	      Strand =
	      {% if hit.query_start <= hit.query_end %}
		Plus
	      {% else %}
		Minus
	      {% endif %}
	      /
	      {% if hit.subject_start <= hit.subject_end %}
		Plus
	      {% else %}
		Minus
	      {% endif %}
	      {% for s in hit.subseq %}
		<table class="sequence compact">
		  <tr>
		    <td>Query:</td>
		    <td class="pre">{{ s.query_start }}</td>
		    <td class="pre">{{ s.query_sequence }}</td>
		    <td class="pre">{{ s.query_end }}</td>
		  </tr>
		  <tr>
		    <td></td>
		    <td></td>
		    <td>{{ s.identity }}</td>
		    <td></td>
		  </tr>
		  <tr class="last">
		    <td>Subject:</td>
		    <td>{{ s.subject_start }}</td>
		    <td>{{ s.subject_sequence }}</td>
		    <td>{{ s.subject_end }}</td>
		  </tr>
		</table>
	      {% endfor %}
	    </td>
	  </tr>
	{% endfor %}
      </table>
    {% endif %}

    {% if blast.status == blast.QUEUE or blast.status == blast.RUNNING %}
      Results are not available yet. The page is reloaded automatically.
      You can save <a href="">this link</a> and return later.
    {% endif %}

    {% if blast.status == blast.FAILED %}
      Error message: <pre class="alert alert-error">{{ blast.result }}</pre>
    {% endif %}
  </div>
{% endblock %}
