{% extends "base.html" %}

{% load crispr_extras %}

{% block title %}
  {% if cassettes.paginator.count > 0 %}
    Found {{ cassettes.paginator.count }}{% if cassettes.paginator.num_pages > 1 %},
    page {{ current_page }}/{{ cassettes.paginator.num_pages}}
  {% endif %}
  {% else %}
    Nothing found
  {% endif %}
  - Cassette search — MeCRISPR
{% endblock %}

{% block content %}
  <div class="span12">
    <h1>Results</h1>
    {% if cassettes.paginator.count > 0 %}
      <div class="download btn-group">
        <a class="btn" href="{{ request_path }}&amp;format=csv&amp;sep=1"><i class="icon-file"></i> Export Excel CSV</a>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ request_path }}&amp;format=csv">Plain CSV</a>
          </li>
        </ul>
      </div>
      <div class="download btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-file"></i>
            Export FASTA
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ request_path }}&amp;format=repeat_fasta">Repeat consensus</a></li>
            <li><a href="{{ request_path }}&amp;format=spacer_fasta">Spacers</a></li>
            <li><a href="{{ request_path }}&amp;format=contig_fasta">Contigs</a></li>
        </ul>
      </div>
      <p>Found: {{ cassettes.paginator.count }}</p>
      <a href="#" onclick="$('.hide, .mhide').show(); $('.nhide').hide(); return false;" class="dashed nhide">[expand all]</a>
      <a href="#" onclick="$('.hide, .mhide').hide(); $('.nhide').show(); return false;" class="dashed hide">[collapse all]</a>
      <table class="table table-hover">
	<tr>
	  <th>#
	  <th>Accession
	  <th>Contig
	  <th>Method
	  <th>Length
	  <th>Repeats/Spacers
	  <th>High-quality
	</tr>
	{% for cassette in cassettes %}
	  {% ifchanged cassette.contig.accession %}
	    {% cycle "odd" "even" as oddeven silent %}
	  {% endifchanged %}
	  <tr class="{{ oddeven }} start" onclick="$('.cas_{{ cassette.accession }}').toggle()">
	    <td class="nobr">
	      <i class="icon-chevron-right cas_{{ cassette.accession }} nhide"></i>
	      <i class="icon-chevron-down cas_{{ cassette.accession }} mhide" style="display: none"></i>
	      {{ forloop.counter|add:cassettes.start_index|add:-1 }}
            <td>{{ cassette.accession }}
            <td>{{ cassette.contig.accession }}
	    <td><abbr title="{{ cassette.method.name }}">{{ cassette.method.accession }}</span>
            <td>{{ cassette.sequence | length }}
            <td>{{ cassette.repeat_set.all|length }}/{{ cassette.spacer_set.all|length }}
	    <td>{% if cassette.high_quality %}<i class="icon-ok-sign"></i>{% endif %}
          </tr>
	  <tr class="{{ oddeven }} cas_{{ cassette.accession }} hide">
	    <td>
	    <td colspan="2"><h4>left flank</h4>
	    <td colspan="4" class="sequence">{{ cassette.left_flank|wrap_wbr:10 }}
	  </tr>
	  <tr class="{{ oddeven }} cas_{{ cassette.accession }} hide">
	    <td>
	    <td colspan="2">
	      <h4>cassette</h4>
	      <table class="info">
		<tr>
		  <td>full accession
		  <td>{{ cassette.accession }}.{{ cassette.version }}
		</tr>
		<tr>
		  <td>version
		  <td>{{ cassette.version }}
		</tr>
		<tr>
		  <td>start
		  <td>{{ cassette.start }}
		</tr>
		<tr>
		  <td>end
		  <td>{{ cassette.end }}
		</tr>
		{% if cassette.strand %}
		  <tr>
		    <td>strand
		    <td>{{ cassette.strand }}
		  </tr>
		{% endif %}
	      </table>
	      <a href="{% url 'fasta' cassette.accession %}">[fasta]</a>

	      <h4>contig</h4>
	      <table class="info">
		<tr>
		  <td>metagenome
		  <td>
		    <a href="{{ cassette.contig.metagenome.url }}">
		      <abbr title="{{ cassette.contig.metagenome.name }}">{{ cassette.contig.metagenome.accession }}</abbr>
		    </a>
		</tr>
		<tr>
		  <td>accession
		  <td><a href="{% url 'contig' cassette.contig.accession %}">{{ cassette.contig.accession }}</a>
		</tr>
		<tr>
		  <td>length
		  <td>{{ cassette.contig.length }}
		</tr>
		{% if cassette.contig.taxonomy %}
		  <tr>
		    <td>taxonomy
		    <td>{{ cassette.contig.taxnl|linebreaks }}
		  </tr>
		{% endif %}
	      </table>
          {% if cassette.contig.cas_hit %}
	    <span class="label"><abbr title="Flanking sequences has blastx hits to CAS-genes">CAS blastx hit</abbr></span><br/>
          {% endif %}
          <a href="{% url 'contig_fasta' cassette.contig.accession %}">[fasta]</a>
	    <td colspan="2" class="nobr auto-scroll">
	      <h4>repeats</h4>
	      <div class="sequence">
		{% for repeat in cassette.repeat_set.all %}{{ repeat.position|stringformat:"02d" }}: {{ repeat.sequence }}<br/>{% endfor %}
	      </div>
	      <h4>repeat consensus</h4>
	      <div class="sequence">
		&nbsp;&nbsp;&nbsp;&nbsp;{{ cassette.repeat_consensus }}
		{% if cassette.repeat_cluster %}
		  <a href="{% url 'search' %}?repeat_cluster={{ cassette.repeat_cluster.id }}" class="cluster">
		    [cluster #{{ cassette.repeat_cluster.id }}]
		  </a>
		{% endif %}
	      </div>
		{% with dr=cassette.repeat_crisprdb %}
		  {% if dr %}
		    <div class="crisprdb">
		      <span class="label">
			<abbr title="Repeat sequence found in CRISPRdb">CRISPRdb</abbr>
		      </span>
		      <a href="http://crispr.u-psud.fr/crispr/samecrispr.php?drseq={{ dr.repeat_sequence}}">{{ dr.name }}</a>
		    </div>
		  {% endif %}
		{% endwith %}
	    <td colspan="3" class="nobr auto-scroll"><h4>spacers</h4>
	      <div class="sequence">
		{% for spacer in cassette.spacer_set.all %}
		  {{ spacer.position|stringformat:"02d" }}:
		  {% if spacer.has_phagehits %}
		    <abbr class="phage" title="{{ spacer.phagehit_set.all.0.hit_description }}">{{ spacer.sequence }}</abbr>
		    <a href="{% url "spacer_blast" spacer.pk %}">phage blast</a>
		  {% else %}
		    {{ spacer.sequence }}
		  {% endif %}
		  <br/>
		{% endfor %}
	      </div>
	  </tr>
	  <tr class="{{ oddeven }} cas_{{ cassette.accession }} hide">
	    <td>
	    <td colspan="2"><h4>right flank</h4>
	    <td colspan="4" class="sequence">{{ cassette.right_flank|wrap_wbr:10 }}
	  </tr>
	{% endfor %}
      </table>
    {% else %}
      <h2>Nothing found.</h2>
      {% include "crispr/cassette_search_form.html" %}
    {% endif %}

    <div class="pagination">
      <ul>
	{% if cassettes.has_previous %}
	  <li><a href="{% replace_query_param url "page" cassettes.previous_page_number %}">←</a></li>
	{% endif %}
	{% for page in pages %}
	  {% if page != 0 %}
	    <li {% if page == current_page %}class="disabled"{% endif %}>
	      <a href="{% replace_query_param url "page" page %}">{{ page }}</a>
	    </li>
	  {% else %}
	    <li class="disabled">
	      <a href="">…</a>
	    </li>
	  {% endif %}
	{% endfor %}
	{% if cassettes.has_next %}
	  <li><a href="{% replace_query_param url "page" cassettes.next_page_number %}">→</a></li>
	{% endif %}
      </ul>
    </div>
  </div>
{% endblock %}
