{% load crispr_extras %}

<form action="{% url 'search' %}" class="form-horizontal" id="cassette-search">
  <fieldset>
    <legend>Find cassette(s)</legend>
    <p>Search against identified cassettes
      <ul class="text-error">
	{{ cassette_search_form.non_field_errors }}
      </ul>
    </p>
    {% regroup cassette_search_form by field.group as field_group %}
    {% for group in field_group %}
      {% if group.grouper %}
	<button type="button" class="btn" data-toggle="collapse" data-target="#group{{ forloop.counter}}">
          {{ group.grouper.0 }}
	</button>
	<div id="group{{ forloop.counter }}" class="collapse">
      {% endif %}
      {% for field in group.list %}
	<span class="control-group {% if field.errors %}error{% endif %}">
          {% set_this_field_type field %}
          {% if not this_field_type = "BooleanField" %}
            {{ field.label_tag }}
            {{ field }}
          {% else %}
            <label class="checkbox" for="{{ field.id_for_label }}">
	      {{ field }}
	      {{ field.label }}
            </label>
          {% endif %}
	</span>
	{% if field.errors %}
          <span class="help-inline">
            <ul class="text-error">{{ field.errors }}
            </ul>
          </span>
	{% endif %}
	{% if field.help_text %}
          <span class="help-block">
            {{ field.help_text }}<br>
          </span>
	{% endif %}
      {% endfor %}
      {% if group.grouper %}
        <span class="help-block">
          {{ group.grouper.1 }}<br>
        </span>
	</div>
      {% endif %}
    {% endfor %}
    <label>
    </label>
    <button type="submit" class="btn btn-primary">Search</button>
  </fieldset>
</form>
