{% load crispr_extras %}

<form action="{% url 'hmmscan' %}" id="hmmscan-search" method="POST">
  <fieldset>
    {% csrf_token %}
    <legend>Hmmscan search</legend>
    <p>Search against the database of identified clusters of cassette repeats
      <ul class="text-error">
	{{ hmmscan_form.non_field_errors }}
      </ul>
    </p>
    {% for field in hmmscan_form %}
      <span class="control-group {% if field.errors %}error{% endif %}">
	{% set_this_field_type field %}
	{% if not this_field_type = "BooleanField" %}
	  {{ field.label_tag }}
	  {{ field }}
	{% else %}
	  <label class="checkbox" for="{{ field.id_for_label }}">
            {{ field }}
            {{ field.label }}
	  </label>
	{% endif %}
      </span>
      {% if field.errors %}
	<span class="help-inline">
	  <ul class="text-error">{{ field.errors }}
	  </ul>
	</span>
      {% endif %}
      {% if field.help_text %}
	<span class="help-block">
	  {{ field.help_text }}<br>
	</span>
      {% endif %}
    {% endfor %}
    <label></label>
    <button type="submit" class="btn btn-primary">Hmmscan</button>
  </fieldset>
</form>
