{% extends "base.html" %}

{% block title %}
  {% if hmmscan.status = hmmscan.COMPLETE %}
    hmmscan result
  {% else %}
    {{ hmmscan.get_status_display }} - Hmmscan result
  {% endif %}
{% endblock %}

{% block head %}
  {% if hmmscan.status == hmmscan.QUEUE or hmmscan.status == hmmscan.RUNNING %}
    <meta http-equiv="refresh" content="30">
  {% endif %}
{% endblock %}

{% block content %}
  <div class="span12">
    <h2>Hmmscan result</h2>
    <ul class="unstyled">
      <li>
	{% if hmmscan.status == hmmscan.QUEUE %}
	  <span class="label">In queue</span>
	{% elif hmmscan.status == hmmscan.RUNNING %}
	  <span class="label">Running</span>
	{% elif hmmscan.status == hmmscan.FAILED %}
	  <span class="label label-important">Failed</span>
	{% elif hmmscan.status == hmmscan.COMPLETE %}
	  <span class="label label-success">Complete</span>
	{% endif %}
      <li>Created: {{ hmmscan.created|timesince }} ago, {{ hmmscan.created}}
      <li>This page will expire on {{ expire }}
      <li>Query: <pre>{{ hmmscan.query }}</pre>
    </ul>
    {% if hmmscan.status == hmmscan.COMPLETE %}
      <h3>Search results</h3><pre class="hmmscan">{{ hmmscan.result }}</pre>
    {% endif %}

    {% if hmmscan.status == hmmscan.FAILED %}
      Error message: <pre class="alert alert-error hmmscan">{{ hmmscan.result }}</pre>
    {% endif %}

    {% if hmmscan.status == hmmscan.QUEUE or hmmscan.status == hmmscan.RUNNING %}
      Results are not available yet. The page is reloaded automatically.
      You can save <a href="">this link</a> and return later.
    {% endif %}

  </div>
{% endblock %}
