{% load staticfiles %}
<p>
<img src="{% static "img/crispr.png" %}" align="right">
<b>Me(tagenomic)CRISPR</b> is a web server which provides access to <abbr
title="Clustered Regularly Interspaced Short Palindromic Repeats">CRISPR</abbr>
cassettes from metagenomic sequences found by a combination of three algorithms.
<p>This server allows a user to browse and analyze predicted CRISPR cassettes,
perform blast search against spacers, repeats and CRISPR-containing metagenomic
contigs, and search against hmm profiles of repeat clusters.
