{% extends "base.html" %}

{% block title %}Metagenomes - MeCRISPR{% endblock %}

{% block content %}
  <div class="hero-unit">
    <h2>Metagenomes presented in the database</h2>
    {% for metagenome in metagenomes %}
      <h3>{{ metagenome.name }}</h3>
      <p><a href="{{ metagenome.url }}">{{ metagenome.url }}</a>
      <p>{{ metagenome.description|safe }}
      <p>{{ metagenome.reference|linebreaks }}
    {% endfor %}
  </div>
{% endblock %}
