{% extends "base.html" %}

{% block title %}Methods - MeCRISPR{% endblock %}

{% block content %}
  <div class="hero-unit">
    Following tools were used to predict CRISPR cassettes.
    {% for method in methods %}
      <h3>{{ method.name }}</h3>
      <p><a href="{{ method.url }}">{{ method.url }}</a>
      <p>{{ method.description }}
      <p>{{ method.reference|linebreaks }}
    {% endfor %}
  </div>
{% endblock %}
