{% extends "base.html" %}

{% block title %}MeCRISPR{% endblock %}

{% block top %}
  <div class="row">
    <div class="hero-unit">
      {% include "crispr/intro.html" %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="span4">
    {% include "crispr/cassette_search_form.html" %}
  </div>
  <div class="span4">
    {% include "crispr/blast_form.html" %}
  </div>
  <div class="span4">
    {% include "crispr/hmmscan_form.html" %}
  </div>
{% endblock %}
