{% extends "base.html" %}

{% load crispr_extras %}

{% block title %}Contig {{ contig.accession }} - MeCRISPR{% endblock %}

{% block content %}
  <div class="span12">
    <h2>Contig {{ contig.accession }}</h2>

    <table class="info">
      <tr>
	<td>metagenome
	<td>
	  <a href="{{ contig.metagenome.url }}">
	    <abbr title="{{ contig.metagenome.name }}">{{ contig.metagenome.accession }}</abbr>
	  </a>
      </tr>
      <tr>
	<td>length
	<td>{{ contig.length }}
      </tr>
      {% if contig.taxonomy %}
	<tr>
	  <td>taxonomy
	  <td>{{ contig.taxnl|linebreaks }}
	</tr>
      {% endif %}
      {% if cassettes %}
	<tr>
	  <td>cassette predictions
	  <td>{{ cassettes|length }}
	</tr>
      {% endif %}
    </table>
    {% if contig.cas_hit %}
      <span class="label"><abbr title="Flanking sequences has blastx hits to CAS-genes">CAS blastx hit</abbr></span><br/>
    {% endif %}
    <a href="{% url 'contig_fasta' contig.accession %}">[fasta]</a>

    <h2>Plot</h2>
    <embed src="{% url 'contig_image' contig.accession %}" type="image/svg+xml" />

    <h2>Cassettes</h2>
    <table class="table table-hover">
      <tr>
	<th>Accession
	<th>Method
	<th>Length
	<th>Repeats/Spacers
	<th>High-quality
      </tr>
      {% for cassette in cassettes %}
	<tr class="{% cycle "odd" "even" %} start">
          <td>{{ cassette.accession }}
	  <td><abbr title="{{ cassette.method.name }}">{{ cassette.method.accession }}</span>
          <td>{{ cassette.sequence | length }}
          <td>{{ cassette.repeat_set.all|length }}/{{ cassette.spacer_set.all|length }}
	  <td>{% if cassette.high_quality %}<i class="icon-ok-sign"></i>{% endif %}
        </tr>
        <tr class="{% cycle "odd" "even" %} cas_{{ cassette.accession }}">
	  <td colspan="1"><h4>left flank</h4>
	  <td colspan="4" class="sequence">{{ cassette.left_flank|wrap_wbr:10 }}
	</tr>
        <tr class="{% cycle "odd" "even" %} cas_{{ cassette.accession }}">
	  <td>
	    <h4>cassette</h4>
	    <table class="info">
	      <tr>
		<td>full accession
		<td>{{ cassette.accession }}.{{ cassette.version }}
	      </tr>
	      <tr>
		<td>version
		<td>{{ cassette.version }}
	      </tr>
	      <tr>
		<td>start
		<td>{{ cassette.start }}
	      </tr>
	      <tr>
		<td>end
		<td>{{ cassette.end }}
	      </tr>
	      {% if cassette.strand %}
		<tr>
		  <td>strand
		  <td>{{ cassette.strand }}
		</tr>
	      {% endif %}
	    </table>
	    <a href="{% url 'fasta' cassette.accession %}">[fasta]</a>

	  </td>
	  <td colspan="2" class="nobr auto-scroll">
	    <h4>repeats</h4>
	    <div class="sequence">
	      {% for repeat in cassette.repeat_set.all %}{{ repeat.position|stringformat:"02d" }}: {{ repeat.sequence }}<br/>{% endfor %}
	    </div>
	    <h4>repeat consensus</h4>
	    <div class="sequence">
	      &nbsp;&nbsp;&nbsp;&nbsp;{{ cassette.repeat_consensus }}
	      {% if cassette.repeat_cluster %}
		<a href="{% url 'search' %}?repeat_cluster={{ cassette.repeat_cluster.id }}" class="cluster">
		  [cluster #{{ cassette.repeat_cluster.id }}]
		</a>
	      {% endif %}
	    </div>
	    {% with dr=cassette.repeat_crisprdb %}
	      {% if dr %}
	        <div class="crisprdb">
	          <span class="label">
		    <abbr title="Repeat sequence found in CRISPRdb">CRISPRdb</abbr>
		  </span>
		  <a href="http://crispr.u-psud.fr/crispr/samecrispr.php?drseq={{ dr.repeat_sequence}}">{{ dr.name }}</a>
		</div>
	      {% endif %}
	    {% endwith %}
	  </td>
	  <td colspan="2" class="nobr auto-scroll"><h4>spacers</h4>
	    <div class="sequence">
	      {% for spacer in cassette.spacer_set.all %}
		{{ spacer.position|stringformat:"02d" }}:
		{% if spacer.has_phagehits %}
		  <abbr class="phage" title="{{ spacer.phagehit_set.all.0.hit_description }}">{{ spacer.sequence }}</abbr>
		  <a href="{% url "spacer_blast" spacer.pk %}">phage blast</a>
		{% else %}
		  {{ spacer.sequence }}
		{% endif %}
		<br/>
	      {% endfor %}
	    </div>
	  </td>
	</tr>
        <tr class="{% cycle "odd" "even" %} cas_{{ cassette.accession }}">
	  <td colspan="1"><h4>right flank</h4>
	  <td colspan="4" class="sequence">{{ cassette.right_flank|wrap_wbr:10 }}
	</tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
