{% extends "base.html" %}

{% block title %}Spacer BLAST - MeCRISPR{% endblock %}

{% block content %}
  <div class="span7">
    <h1>Spacer BLAST results</h1>
    <p>Spacer sequence: <span class="sequence">{{ spacer.sequence }}</span><br/>
    Cassette accession: {{ cassette.accession }}<br/>
    Spacer position: {{ spacer.position }}
    <table class="table">
      {% for hit in hits %}
	<tr>
	  <td>{{ hit.hit_description }}, {{ hit.hit_accession }}
	  <td>E-value: {{ hit.evalue }}
	</tr>
      <tr class="notop">
	<td class="sequence" colspan="2">
{{ hit.query }}<br/>
<span class="pre">{{ hit.identity }}</span><br/>
{{ hit.hit }}
      </tr>
    {% endfor %}
    </table>
    </pre>
  </div>
{% endblock %}
