{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}"/>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block head %}{% endblock %}
    {% include "tracking.html" %}
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
	  <a class="brand" href="{% url 'home' %}">MeCRISPR</a>
          <ul class="nav">
	    <li><a href="{% url 'home' %}">Home</a>
	    <li><a href="{% url 'methods' %}">Methods</a>
	    <li><a href="{% url 'metagenomes' %}">Metagenomes</a>
	    <li><a href="{% url 'help' %}">Help</a>
	    <li><a href="{% url 'about' %}">About</a>
          </ul>
          <ul class="nav pull-right">
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {% block top %}{% endblock %}
      <div class="row">
	{% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
