.sequence {
    font-family: monospace;
    font-size: small;
}

.nobr {
    white-space: nowrap;
}

td.auto-scroll {
    max-width: 400px;
}

td.auto-scroll div {
    overflow: auto;
}

tr.odd td {
    background-color: #f9f9f9;
}

tr.start td {
    border-top-color: #404040;
}

table.info td {
    border: none;
    padding-top: 0;
    padding-left: 0;
    padding-right: 1em;
    padding-bottom: 0;
    background: none;
}

.dashed:hover {
    text-decoration: none;
    border-bottom: 1px dashed #000080;
}

.phage, .cluster {
    background: #f8c4a6;
}

.pre {
    white-space: pre;
}

tr.notop td {
    border-top: none;
}

#blast-search textarea {
    width: 100%;
}

#hmmscan-search textarea {
    width: 100%;
}

table.compact {
    margin-top: 4px;
}

table.compact td {
    padding-top: 0px;
    padding-bottom: 0px;
}

table.compact tr.last td {
    padding-bottom: 4px;
}

label.checkbox {
    margin-top: 10px;
}

span.help-block {
    margin-top: 0px !important ;
    margin-bottom: 5px !important;
}

.download {
    float: right;  
}

legend {
    font-size: 24px;
}

.crisprdb {
    font-size: 12px;
}
